@import url("bootstrap-astropy.css");

div.topbar a.brand {
  background: transparent url("AstroCut_thumb.png") no-repeat 10px 4px;
  background-image: url("AstroCut_thumb.png"), none;
  background-size: 32px 32px;

}