name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
  schedule:
    # Nightly build triggered at 2 AM EST
    - cron: '0 7 * * *'

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: Python 3.9 with minimal dependencies
            os: ubuntu-latest
            python: 3.9
            toxenv: py39-test

          - name: Python 3.9 with all optional dependencies
            os: ubuntu-latest
            python: 3.9
            toxenv: py39-test-alldeps
            toxargs: -v --develop

          - name: Python 3.10 with numpy 1.23 and full coverage
            os: ubuntu-latest
            python: "3.10"
            toxenv: py310-test-alldeps-numpy123-cov

          - name: Python 3.10 with all optional dependencies (MacOS X)
            os: macos-latest
            python: "3.10"
            toxenv: py310-test-alldeps

          - name: Python 3.10 with numpy 2
            os: ubuntu-latest
            python: "3.10"
            toxenv: py310-test-alldeps-numpy2

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
        with:
          python-version: ${{ matrix.python }}
      - name: Install language-pack-de and tzdata
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install language-pack-de tzdata
      - name: Install Python dependencies
        run: python -m pip install --upgrade tox codecov
      - name: Run tests
        run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
      - name: Upload coverage to codecov
        if: ${{ contains(matrix.toxenv,'-cov') }}
        uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3  # v5.3.1
        with:
          file: ./coverage.xml

  allowed_failures:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: (Allowed Failure) Python 3.11 with dev version of key dependencies
            os: ubuntu-latest
            python: 3.11
            toxenv: py311-test-devdeps

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
        with:
          python-version: ${{ matrix.python }}
      - name: Install language-pack-de and tzdata
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install language-pack-de tzdata
      - name: Install Python dependencies
        run: python -m pip install --upgrade tox codecov
      - name: Run tests
        run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
